*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    /* width: 80%; */
    padding: 20px;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    /* position: fixed; */
    
}
.main img{
    width: 100%;
    padding-bottom: 15%;
    cursor: pointer;
    transition: 0.4s;
    
}
.main img:hover{
    border: 5px lightseagreen solid;
    padding: 5%;
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77,136, 0.2);
}
.full-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position:fixed;
    top:0;
    left: 0 ;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.bg{
    width: 100%;
    height: 120vh;
    background-image: url(bg.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: 20px;
}
